.app {
  background: rgb(251, 133, 63);
  background: linear-gradient(
    90deg,
    rgba(251, 133, 63, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
